<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for ('static', filename = 'images/favicon.ico') }}">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for ('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for ('static', filename = 'css/dashboard.css') }}" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Stock Dashboard</a>
      
      <ul> Top Navbar </ul>
      <ul> Top NAvbar 2</ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    
    <!--
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard Left Nav  <span class="sr-only">(current)</span>
                </a>
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard Left Nav  <span class="sr-only">(current)</span>
                </a>
              </li>
    
             


              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Empty 1
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Empty 2
                </a>
              </li>
              

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>New section</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Empty 1
                </a>
              </li>
            </ul>
          </div>
        </nav>
      -->
    <div class="container-fluid h-100 d-flex flex-column">
      <div class="row" style="min-height:0">
        <div class="col-sm-2 d-none d-md-block bg-dark" style="height: 95vh;">
        <p> Left nav bar 
          Left nav barLeft nav barLeft nav barLeft nav bar </p>
          Left nav barLeft nav barLeft nav barLeft nav barLeft nav bar
          Left nav barLeft nav barLeft nav barLeft nav barLeft nav bar
          Left nav barLeft nav barLeft nav barLeft nav bar
          Left nav barLeft nav barLeft nav barLeft nav barLeft nav barLeft nav barLeft nav bar

        </div>
        <div class="col-sm-3" style="background-color:lavender; overflow-y: scroll; height: 95vh;">
           
            <h1> HELLO NEW COL MD 5 HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5 HELLO NEW COL MD 5 HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5 HELLO NEW COL MD 5 HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5 HELLO NEW COL MD 5 HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5 HELLO NEW COL MD 5 HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5 HELLO NEW COL MD 5 HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5
              HELLO NEW COL MD 5HELLO NEW COL MD 5HELLO NEW COL MD 5 
            </h1>
          
        </div>
        <!--
        <div class="col-md-7" style="background-color:lavender;">
           
          <h1> RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5  RIGHT COL 5 
            RIGHT COL 5  RIGHT COL 5 
          </h1>
        </div>
        -->
     
      
        
         
      
        
        
                       
      
        <main role="main" class="col-sm-7 ms-sm-auto px-md-4 border mh-100" style="overflow-y: scroll; height: 95vh;">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <p>Hello World! </p>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

                    
              <h4> Big Tech 
                <br>Past {{ stock_period_default_expanded }}
              </h4>
            
          
          <div class = "graphs">
          <img src="{{ url_for('plot_graph_NVDA') }}" alt="NVDA" height = 175>
          <img src="{{ url_for('plot_graph_MSFT') }}" alt="MSFT" height = 175>
          </div>
          <!--
          <div class = "graphs">
          <img src="{{ url_for('plot_graph_GOOG') }}" alt="GOOG" height = 175>
          <img src="{{ url_for('plot_graph_AMZN') }}" alt="AMZN" height = 175>
          </div>
          
          <div class = "graphs">
          <img src="{{ url_for('plot_graph_PYPL') }}" alt="PYPL" height = 175>
          <img src="{{ url_for('plot_graph_CRM') }}" alt="CRM" height = 175>
          </div>
          
          <div class = "graphs">
          <img src="{{ url_for('plot_graph_TWLO') }}" alt="TWLO" height = 175>
          </div>
          -->
   
          <h2>Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                
                
              </tbody>
            </table>
          </div>
        </main>

      </div> <!--div class=row-->  
    </div> <!--container-fluid-->  
  
  </body>
</html>          